* {
  box-sizing: border-box;
  font-family: "Fugaz One", cursive;
  font-weight: 400;
}

@font-face {
  font-family: "Fugaz One", cursive;
  src: url("https://fonts.googleapis.com/css?family=Fugaz+One&display=swap");
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  /* flex-direction: row;
  align-items: flex-start;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.retrievedTimer,
.delete-button {
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
  background: white;
  border: 3px solid #32b2cc;
  border-radius: 50%;
  padding: 11px;
}

.retrievedTimer:hover,
.delete-button:hover {
  background-color: #bfe7e7;
}

.retrieved-clock {
  display: flex;
  justify-content: center;
}

/* .gr__localhost {
  background-color: #b2cc32;
} */

.displayedRetrievedTimer {
  background-color: white;
  width: 80%;
  margin-top: 15px;
  /* border-radius: 6px; */
  /* border: 3px solid #32b2cc; */
  border-top: 3px dashed #32b2cc;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.saved-watch-title {
  min-width: 250px;
  align-self: center;
  font-size: 21px;
}

.saved-watch-time {
  align-self: center;
  font-size: 21px;
}

.add-a-timer-button {
  border: 3px solid #b2cc32;
  font-size: 18px;
  border-radius: 6px;
  margin: 10px;
  color: black;
  background-color: white;
  font-weight: bold;
}

.add-a-timer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.add-a-timer-button:hover {
  background: #e6f2c5;
}

.add-a-timer-input {
  height: 30px;
  font-size: 22px;
  border-radius: 6px;
  border: 2px solid black;
}

.saved-timers-title {
  font-size: 40px;
}
